//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           2px;
//** Thumbnail background color
$thumbnail-bg:                #e1e2e3;
//** Thumbnail border color
$thumbnail-border:            #e1e2e3;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-small;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px;